// Navigation Styles here
   header{
       
             display: flex;
             justify-content: space-between;
            //  padding:2.5% 0;
             width:100%;
            

             h1{
          
              display: inline;
              align-items: center;

            
            }
             
            nav{
                display:flex;
                align-items: center;
                 

                a{
            color: rgb(3, 3, 3);
            text-decoration:none;            
            justify-content: space-between;
            padding-left: 1.5em;
            font-weight: 5px;

                      
            
                }        
            
        }//end of anchor
        }//end of nav bar
.pic{
    width:100%;
    border-top: 2px dashed @navigation-border;

}
